%% -*- mode: erlang; tab-width: 4; indent-tabs-mode: 1; st-rulers: [70] -*-
%% vim: ts=4 sw=4 ft=erlang noet

{erl_opts, 
    [debug_info
    ,warnings_as_errors
    ,warn_export_all]}.

{port_specs,
    [{"unix","priv/emdb_drv.so",
        ["c_src/*.c"
        ,"c_src/mdb/libraries/liblmdb/mdb.c"
        ,"c_src/mdb/libraries/liblmdb/midl.c"]}
    ,{"linux","priv/emdb_drv.so",
        ["c_src/*.c"
        ,"c_src/mdb/libraries/liblmdb/mdb.c"
        ,"c_src/mdb/libraries/liblmdb/midl.c"]}
    ,{"darwin","priv/emdb_drv.so",
        ["c_src/*.c"
        ,"c_src/mdb/libraries/liblmdb/mdb.c"
        ,"c_src/mdb/libraries/liblmdb/midl.c"]}
    ,{"win32","priv/emdb_drv.dll",
        ["c_src/*.c"
        ,"c_src/mdb/libraries/liblmdb/mdb.c"
        ,"c_src/mdb/libraries/liblmdb/midl.c"]}]}.

{port_env, 
    [{".*"
     ,"CFLAGS"
     ,"-O2 -Wall -W -Wno-unused-parameter -Wbad-function-cast -Wuninitialized -pthread -g"}]}.
